<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Visitors List</title>
  <link rel="stylesheet" href="/stylesheets/viewVisitors.css">
  <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>
<body>
  <div class="container">
    <header>
      <img src="/images/name1.jpeg" alt="Company Logo" class="logo">
      <img src="/images/mls.jpeg" alt="Event Logo" class="logo">
    </header>
    <main>
      <h1>Visitor List</h1>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Occupation</th>
            <th>Designation</th>
            <th>Phone Number</th>
            <th>Email Address</th>
          </tr>
        </thead>
        <tbody>
          <% if (visitors.length > 0) { %>
            <% visitors.forEach(visitor => { %>
              <tr>
                <td><%= visitor.name %></td>
                <td><%= visitor.occupation %></td>
                <td><%= visitor.designation %></td>
                <td><%= visitor.phone %></td>
                <td><%= visitor.email %></td>
              </tr>
            <% }) %>
          <% } else { %>
            <tr>
              <td colspan="5">No visitors found</td>
            </tr>
          <% } %>
        </tbody>
      </table>

      <div class="pagination">
        <% if (currentPage > 1) { %>
          <a href="?page=<%= currentPage - 1 %>">&laquo; Previous</a>
        <% } %>

        <% for (let i = 1; i <= totalPages; i++) { %>
          <a href="?page=<%= i %>" class="<%= currentPage === i ? 'active' : '' %>"><%= i %></a>
        <% } %>

        <% if (currentPage < totalPages) { %>
          <a href="?page=<%= currentPage + 1 %>">Next &raquo;</a>
        <% } %>
      </div>
    </main>
    <footer>
      <p>&copy; 2024 Blackbox. All rights reserved.</p>
    
      <a href="#" class="back-to-top">&uarr;</a>
    </footer>
  </div>
</body>
</html>
